.home {
  width: 100vw;
  height: 100vh;
  text-transform: uppercase;
  position: relative;

  .top {
    padding: VW(50);

    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      gap: VW(70);
    }

    .paragraph_wrapper {
      display: flex;
      flex-direction: column;

      &:nth-of-type(1) {
        width: VW(276);
      }
      &:nth-of-type(2) {
        width: VW(446);
      }

      .title {
        margin-bottom: VW(20);
      }
    }

    .logo {
      width: VW(220);
      height: VW(40);
      position: relative;
    }
  }

  .title {
    &_wrapper {
      position: absolute;
      inset: auto auto VW(50) VW(50);
    }

    &_top {
      display: flex;
      gap: VW(30);
    }
  }

  .arrow {
    width: VW(90);
    height: VW(90);

    border-radius: 100vw;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    .bg {
      stroke-dasharray: 310;
      stroke-dashoffset: 310;
      border-radius: 100vw;
      background-color: transparent;

      animation: bgPresence 1s 0.2s cubic-bezier(0.83, 0, 0.17, 1) forwards;
    }

    &_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: VW(20);

      color: $blue-100;

      cursor: pointer;

      @include hover {
        .arrow_title {
          &_text {
            transform: translateY(-100%);
          }
        }

        .icon {
          stroke-dashoffset: 34 !important; // 100%
        }
      }
    }

    &_title {
      height: VW(32); // Font-size + 2px
      overflow-y: clip;

      &_text {
        display: block;
        text-shadow: 0 VW(34) 0; // Text wrapper + gap 2px
        transition: transform 0.7s cubic-bezier(0.65, 0.05, 0, 1);

        &_2 {
          transition-delay: 0.05s;
        }
      }

      &_wrapper {
        width: VW(340);
      }
    }

    .icon {
      width: 70%;
      height: 70%;
      position: absolute;
      animation: iconPresence 1s 1.2s ease forwards;
      opacity: 0;
      transition: stroke-dashoffset 0.8s $easeOutQuad;

      stroke-dasharray: 17;
      stroke-dashoffset: 0; // 0%
      // stroke-dashoffset: 34; // 100%
      // stroke-dashoffset: 17; // 50% Fully invisible
    }
  }

  .data {
    position: absolute;
    bottom: VW(50);
    right: VW(50);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    gap: VW(5);

    &_top {
      display: flex;
      align-items: center;
      gap: VW(5);

      &_icon {
        width: VW(10);
        height: VW(10);
        border-radius: 10vw;
        background-color: #0AAFD8;
        opacity: 0;
        animation: iconPresenceInfinite 5s 1.2s ease infinite;
      }
    }
  }

  .background {
    position: absolute;
    inset: 0;
    z-index: -1;
    filter: brightness(0.8);

    clip-path: inset(100% 30% 5%);
  }
}

@keyframes bgPresence {
  0% {
    stroke-dashoffset: 310;
    background-color: transparent;
  }
  80% {
    stroke-dashoffset: 0;
    background-color: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    background-color: $blue-100;
  }
}

@keyframes iconPresence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes iconPresenceInfinite {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
